colors = {
  background: #f7f6f6
  primary: #445963
  primary_light: #708690
  primary_dark:  #1b3039
  secondary: #ffeb3b
  secondary_light: #ffff72
  secondary_dark: #c8b900
  text_primary: #fff
  text_secondary: #000
  red: #f44336
  green: #4caf50
  yellow: #ffeb3b
}

row(justify = initial, align = initial)
  display: flex
  justify-content: justify
  align-items: align

column(justify = initial, align = initial)
  display: flex
  flex-direction: column
  justify-content: justify
  align-items: align
